*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #00D2C6;
}

body{
    background-color: #ddd;
}

/* .bg-primary{
    background-color: var(--primary-color);
}

.container{
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-red{
    color: red;
} */

.outline-none{
    outline: none;
}