.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    padding-inline: 20px;
}

.header-container .right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-container .right .links ul{
    text-decoration: none;
    display: flex;
    gap: 10px;
}

.header-container ul{
    list-style: none;
}